**importing libraries and setting the files path**

In [28]:
import sys
from itertools import combinations 
from collections import defaultdict
import pandas as pd
import itertools
import math
import numpy as np
sys.path.append(r'C:\Users\ege\Desktop\Python')

In [29]:
from __future__ import absolute_import
from apriori import apriori

In [30]:
data = pd.read_csv(r'C:\Users\ege\Desktop\Python\tez\satislarmy.csv')

**Data preprocessing**

Note : If your dataset does have contain columns names apriori algorithm does not work. You have to drop them.

In [31]:
data.head()

   satislar satis 1 satis2 satis3 satis4 satis5 satis6 satis7 satis8
0         2    elma  armut  sogan    NaN    NaN    sut     et  tavuk
1         1    elma  armut  sogan   uzum  ekmek    sut     et  tavuk
2         3    elma  armut  sogan   uzum    NaN    NaN    NaN  tavuk
3         4    elma  armut  sogan   uzum  ekmek    NaN     et  tavuk
4         5    elma  armut    NaN   uzum  ekmek    sut     et  tavuk

In [32]:
data.drop(labels = 'satislar',inplace= True,axis = 1)

In [33]:
data.head()

  satis 1 satis2 satis3 satis4 satis5 satis6 satis7 satis8
0    elma  armut  sogan    NaN    NaN    sut     et  tavuk
1    elma  armut  sogan   uzum  ekmek    sut     et  tavuk
2    elma  armut  sogan   uzum    NaN    NaN    NaN  tavuk
3    elma  armut  sogan   uzum  ekmek    NaN     et  tavuk
4    elma  armut    NaN   uzum  ekmek    sut     et  tavuk

**apriori(data,x1, x2 ) :  data = csv file , x1 = Minsup ratio ( % ) , x2 = Confidence ratio ( % )**

In [40]:
if __name__ == "__main__":
  ap = apriori(data,70,80) 
  Frequency_list ,Confidence_list  = ap.Miner()
  print(" Frequency list : ",Frequency_list)
  print('****************************')
  print('****************************')  
  print(" Confidence list : ", Confidence_list)

 Frequency list :  [[('tavuk', 'uzum'), 'frequency ===> %76.92'], [('elma', 'tavuk'), 'frequency ===> %76.92'], [('elma',), 'frequency ===> %76.92'], [('armut',), 'frequency ===> %76.92'], [('sut',), 'frequency ===> %76.92'], [('tavuk',), 'frequency ===> %92.31'], [('uzum',), 'frequency ===> %84.62']]
****************************
****************************
 Confidence list :  [['tavuk', '=============>', ['tavuk', 'uzum'], 'confidence = %83.33'], ['uzum', '=============>', ['tavuk', 'uzum'], 'confidence = %90.91'], ['elma', '=============>', ['elma', 'tavuk'], 'confidence = %100.00'], ['tavuk', '=============>', ['elma', 'tavuk'], 'confidence = %83.33']]